<footer>

<!-- Social Media Links -->
<div class="d-flex justify-content-center">
    <a href="https://www.instagram.com/yourusername" class="btn btn-outline-light btn-lg mx-2" target="_blank">
      <i class="fa-brands fa-instagram"></i> Instagram
    </a>
    <a href="https://www.linkedin.com/in/yourusername" class="btn btn-outline-light btn-lg mx-2" target="_blank">
      <i class="fa-brands fa-linkedin"></i> LinkedIn
    </a>
    <a href="https://github.com/yourusername" class="btn btn-outline-light btn-lg mx-2" target="_blank">
      <i class="fa-brands fa-github"></i> GitHub
    </a>
  </div>
</div>

    <footer class="bg-dark text-white py-4">
      <div class="container text-center">
        <p>&copy; 2025 Jasmine M. Aguilar | All Rights Reserved</p>
  </footer>

