<body>

    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#featured" class="nav-link active mx-5" aria-current="page">Featured</a></li>
          <li class="nav-item"><a href="/projects" class="nav-link active mx-5">Projects</a></li>
          <li class="nav-item"><a href="#artist" class="nav-link active mx-5">Artist</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link active mx-5">Contact</a></li>
          <li class="nav-item"><a href="/#Connect Wallet" class="nav-link active mx-5">Connect Wallet</a></li>
  
        </ul>