<body>

  <div class="container">
    <header class="sticky-top bg-white shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/" aria-label="Home">
            <img src="https://nft-mint-cdn-jazz.nyc3.cdn.digitaloceanspaces.com/images/menace.ico" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
          </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="/#featured" class="nav-link" aria-current="page">Featured</a>
              </li>
              <li class="nav-item">
                <a href="/projects" class="nav-link">Projects</a>
              </li>
              <li class="nav-item">
                <a href="/#artist" class="nav-link">Artist</a>
              </li>
              <li class="nav-item">
                <a href="/contact" class="nav-link">Contact</a>
              </li>
              <li class="nav-item">
                <button class="btn btn-outline-primary ms-2" aria-label="Connect Wallet">Connect Wallet</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>