body {
    font-family: "Kanit", sans-serif;
  }
  
  
html {
    box-sizing: border-box;
}
*, 
*:before, 
*:after {
    box-sizing: inherit;  
}

body {
    background-color: indigo;
}

#testButton {
    background-color: turquoise;
    color: white;

}

div {
  border: 1px solid white;  
}


  