html {
    box-sizing: border-box;
}
*, 
*:before, 
*:after {
    box-sizing: inherit;  
}

body {
    background-color: indigo;
}

#testButton {
    background-color: turquoise;
    color: white;

}

div {
  border: 1px solid white;  
}

.tajawal-medium {
    font-family: "Tajawal", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container h1 {
    color: white;
    font-weight: 700;
}

.container p {
    color: #ddd;
    max-width: 600px;
    margin: 0 auto;
}

.btn-primary {
    background-color: turquoise;
    border: none;
}

.btn-primary:hover {
    background-color: lightseagreen;
}

  